h1 {
    font-size: 28px;
    color: #333;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}


body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #cfe2fc;
  width: 250px;  
}

form {
  display: flex;
  flex-direction: column;
}

label {
    color: rgb(14, 16, 18);
    font-size: 18px;
}

h3 {
    color: rgb(14, 16, 18);
    font-size: 18px;
    text-decoration: underline;
}

input, textarea, button, select {
    font-family: sans-serif;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 2px solid #050214;
    border-radius: 15px;
    width: 250px;
}

.input-narrow {
    width: 200px;
}

hr.solid {
    border-top: 1px solid #4f4f4f;
    width: 200px;
}

weeText {
    font-family: sans-serif;
    color: #4f4f4f;
    font-size: 14px;
    text-align: center;
}

.row-container {
    display: flex; /* Magic command to make it a row */
    align-items: center; /* Keeps everything vertically centered */
    gap: 10px; /* Adds space between the elements */
}

.button1 {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.button1:hover {
    background-color: #0056b3;
}

.option-item {
    display: flex; /* horizontal layout */
    align-items: center;
}
    
.button2 {
all: unset;
border: none;
cursor: pointer;
background-color: none;
color: none;
float: right;
}

    .button2:hover {
        color: #0056b3;
        transform: scale(1.1);
    }

.remove-icon {
    all: unset;
    border: none;
    cursor: pointer;
    background-color: none;
    font-size: 24px;
    color: #e74c3c; /* red for remove */
    margin-left: 6px;
    transition: transform 0.2s;
}

    .remove-icon:hover {
        transform: scale(1.2);
    }

.add-icon {
    all: unset;
    border: none;
    cursor: pointer;
    background-color: none;
    font-size: 24px;
    color: #00a803;
    margin-left: 6px;
    transition: transform 0.2s;
}

    .add-icon:hover {
        transform: scale(1.2);
    }